@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body{
    background-color: #E4DFD9;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    
}

header{
    background-color: #163145 ;
    height: 110px;
    letter-spacing: 1.5px;
   

    
    
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 135px;
    height: 81px;
    /* margin-left: 83px; */
    padding-top: 20px;
    padding-right: 20px;
  }

nav{
   
    display: flex;
  }
  nav ul{
    display: flex;
    margin-left: 50px;

  }
  
  .nav-list li{
    margin-right: 45px;
  }
  
  .nav-icon li{
    margin-left: 20px;
  }
  
  nav  a{
    text-decoration: none;
    color: white;
    display: block;
    
    font-size: 24px;
  
  }
  
  .fa-solid{
    display: block;
  }


  /* /////////////////////banner////////////////////////// */

  .banner{
    background-image: url(../images/about-banner.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
    

  
    
  }
  .banner .border{
    display: inline-block;
    margin: 0 auto;
    
    padding-top: 379px;
    
  }
  
  .banner h1{
    font-style: italic;
    font-weight: 600;
    font-size: 50px;
    line-height: 68px;
    width: 158px;
   

    color: rgba(255, 255, 255, 0.8);

    border: 8px solid  rgba(255, 255, 255, 0.8);
    padding: 15px 30px;
  
  }

  .main{
    width: 1200px;
    margin: 0 auto;
    margin-top: 174px;
    font-style: italic;

    
  }

  .main h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.12em;
    color: #163145;

    margin-bottom: 33px;
  }

  .main p{
    font-weight: 400;
    font-size: 20px;
    line-height: 52px ;
    letter-spacing: 0.12em;
    color:#000000;

    background-color: #fff;
  }
  .main-top{
    margin-left: 106px;
  }

  .main-top h2{
    margin-left: 685px;
  }

  .content-story{
    display: flex;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.2));
    position: relative;
  }

  .content-story p{
    padding: 53px 75px;
   
  }

  .content-story::before{
    content: "";
    width: 492px;
    height: 880px;
    background-color: #FFBA00;
    position: absolute;
    top: -113px;
    left: -106px;
    z-index: -1;
  }

  .main-bottom{
    margin-right: 101px;
    margin-top: 357px;
  }

  .main-bottom h2{
    margin-left: 175px;
  }
  .content-mission{
    display: flex;
    filter: drop-shadow(-10px 10px 4px rgba(0, 0, 0, 0.2));
    position: relative;
  }

  .content-mission p{
    padding: 52px 63px;
  }

  .content-mission::after{
    content: "";
    width: 492px;
    height: 880px;
    background-color: #FFBA00;
    position: absolute;
    top: -114px;
    right: -101px;
    z-index: -1;
  }


  /* ///////////////footer//////////////////// */

  footer{
    margin-top: 310px;
    width: auto;
    height: 265px;
    background-color: #163145;
    color: #fff;
  
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  
  footer a{
    text-decoration: none;
    color: #fff;
  }
  
  .wrapper{
    width: 1200px;
    margin: 0 auto;
    padding-top: 45px;
  }
  
  .content{
    display: flex;
  }
  
  .ft-nav{
    margin-left: 180px;
    
  }
  .ft-nav h3{
    display: inline-block;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 36px;
  
  }
  .ft-nav a{
    display: block;
    padding-bottom: 15px;
  }
  
  .media{
    margin-left: 120px;
    width: 200px;
  }
  
  .media img{
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  
  .media-icon{
    display: flex;
    justify-content: space-between;
  }
  
  .fa-brands{
    font-size: 35px;
  }
  
  .ft-nav:first-child{
    margin-left: 140px;
  }
  
  .wrapper h5{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top:50px;
  }
  
  