@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body{
    background-color: #E4DFD9;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: white;
    letter-spacing: 1.5px; 
    
}

header{
  letter-spacing: 1.5px; 
  background-color: #163145 ;
  position: sticky;
  width: 100%;
  top:0;
  left:0;
  z-index: 100;
  

}


.top{
  display: flex;
  justify-content: center;
  align-items: center;
}
.top .fa-bars{
  display: none;
}
.logo img{
  width: 135px;
  height: 81px;
  /* margin-left: 83px; */
  padding-top: 20px;
  padding-right: 20px;
}

nav{
 
  display: flex;
}
nav ul{
  display: flex;
  margin-left: 30px;

}

.nav-list li{
  margin-right: 20px;
}

.nav-list a{
  position: relative;
  z-index: 1;
}

.nav-list a::before{
  content: "";
  display: block;



  
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 3px;
  background-color:#fff;
  z-index: 0;
  transition: width .3s ease-out;

}
.nav-list a:hover::before{
  width: 100%;
}


.nav-icon li{
  margin-left: 20px;
}

nav  a{
  text-decoration: none;
  color: white;
  display: block;
  
  font-size: 20px;

}

.fa-solid{
  display: block;
}
/* //////////////breadcrumb///////////////// */
.wrap{
  width: 100%;
  padding: 3px 0;
  background-color: #ccc;
  font-size: 14px;
  font-weight: 400;

}
.breadcrumb{
 

  display: flex;
  max-width: 1200px;
 
  margin: 0 auto;
  padding-left: 85px;
}
.breadcrumb li{
  padding: 0 20px;
}
.breadcrumb a{
   text-decoration: none;
   color: #333;
}
.breadcrumb li:last-child a{
  border-bottom:1px solid #333;
  font-weight: 500;

}
.breadcrumb a:hover{
  font-weight: 500;
}
.breadcrumb li + li{
  padding-left: 0;
}
.breadcrumb li + li::before{
  content: ">";
  color: #333;
  margin-right: 20px;
}
/* //////////////banner////////////////////////////////// */
.banner{
  
  width: 100%;
 
  height: 600px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  
  /* margin-bottom: 108px; */


  
}
.banner .border{
  display: inline-block;
  margin: 0 auto;
  
  padding-top: 379px;
  
}

.banner h1{
  font-style: italic;
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
 
 

  color: rgba(255, 255, 255, 0.8);

  border: 8px solid  rgba(255, 255, 255, 0.8);
  padding: 15px 30px;

}

  /* /////////////////footer///////////////////////////// */
  footer{
    margin-top: 220px;
    width: auto;
    height: 265px;
    background-color: #163145;
    color: #fff;
  
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  
  footer a{
    text-decoration: none;
    color: #fff;
  }
  
  .wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 45px;
  }
  
  .content{
    display: flex;
    justify-content: center;
  }
  
  .ft-nav{
    margin-left: 120px;
    
  }
  .ft-nav h3{
    display: inline-block;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 36px;
  
  }
  .ft-nav a{
    display: block;
    padding-bottom: 15px;
  }
  
  .media{
    margin-left: 110px;
    width: 200px;
  }
  
  .media img{
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  
  .media-icon{
    display: flex;
    justify-content: space-between;
  }
  
  .fa-brands{
    font-size: 35px;
  }
  
  .ft-nav:first-child{
    margin-left: 0px;
  }
  
  .wrapper h5{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top:50px;
  }
  
  /* ///////////////////hover//////////////////// */
  footer .ft-nav a:hover{
    color: #FFBA00;
  }
  
  footer .media a:hover{
    transform: scale(1.1,1.1);
  }


/* //////////////////////////rwd//////////////////////// */
@media screen and (max-width: 1200px){
  .top .nav-list{
    
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #163145;
    position: absolute;
    right: 0;
    top: 100px;
    width: 50%;
    margin: 0;

    display: none;
  }
  .nav-list li {
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    
  }
  .top li{
    
    text-align: center;
    display: block;
    width: 100%;
    line-height: 3 ;
    
    /* padding-bottom: 20px; */

  }
  nav ul{
    font-size: 28px;
    align-items: center;
  }
  .top nav a{
    display: block;
    font-size: 25px;
 
    
  }
  .top .fa-bars {
    display: flex;
  }

  .top{
    justify-content: space-between;
    padding: 0 10px;
  }
  .nav-icon li{
    line-height: 24px;
  }



 
  /* /////////////////breadcrumb////////////////////////////////// */
/* .wrap{
padding: 0;
font-size: 8px;
line-height: 2.2;
} */
.breadcrumb{
padding-left: 0;

}
/* .breadcrumb li{
padding: 0 8px;
}
.breadcrumb li + li::before{
margin-right: 8px;
} */

.banner{
  height: 450px;
  /* border: 1px solid red; */
  margin-bottom: 0;
}

.banner .border{
  padding-top: 215px;
}
.banner h1{
  font-size: 40px;
  line-height: 1.6;
}
.banner h1 {
  padding: 8px 15px;
}

}
@media screen and (max-width: 940px){

  /* ////////////////////////footer/////////////// */
footer .wrapper{
  padding-top: 30px;
}
  body footer{
    height: 180px;
  }
  /* .wrapper{
    width: auto;
    padding-top: 20px;
  } */
  .ft-nav{
    display: none;
  }

  footer .wrapper .media{
    display: flex;
    align-items: center;
    margin-left: 0;
    width: auto;
  }
  footer .media-icon a{
    margin-left: 20px;
  }

  footer .wrapper h5 {
    font-size: 12px;
   padding: 0 10px;
    margin-top: 0;
  }
  /* .wrapper .media{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
  }
  .media{
    margin-left: 0;
  }
  .media img{
   height: 60px;
   padding-bottom: 10px;
   margin: 0;
  }
  .media-icon .fa-brands{
    font-size: 28px;
    margin-left: 15px;
  }
  */
}
@media screen and (max-width: 429px) {
  .top{
    width: auto;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
   


  }
  .top img{
    height: 50px;
    /* margin-top: 5px; */
    margin-left: 10px;
  }
  .logo img{
    width: auto;
  }
  .top .fa{
    display: block;
    /* float: right; */
    /* margin-top: 8px; */
    margin-right: 15px;
    font-size: 18px;
    line-height: 1.7;
  }

  .top .nav-list{
    /* display: none; */
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #163145;
    position: absolute;
    right: 0;
    top: 70px;
    width: 50%;
    margin: 0;

    display: none;
  }

  .top .nav-icon li {
    /* display: none; */
    display: flex;
    /* justify-content: flex-start; */
    /* text-align: center;
    flex-direction: column;
    align-items: center; */
    
    background-color: #163145;
    /* position: absolute;
    right: 0;
    top: 347px; */
    width: 100%;
    margin-left: 15px;
    

    /* border-bottom: none; */
   

  }
  .nav-icon .fa-solid{
    font-size: 18px;
  }
  .nav-icon a{
    margin-top: 4px;
  }

  .nav-list li {
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    
  }
  
  .top .fa-bars{
    display: block;
  }

  .top .fa:hover ~ .nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top .fa:hover ~ .nav-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .top li{
    
    text-align: center;
    display: block;
    width: 100%;
    line-height: 40px;
    
    /* padding: 0 10px; */

  }
  .top nav a{
    display: block;
    font-size: 14px;
    
  }

  
  /* /////////////////breadcrumb////////////////////////////////// */
.wrap{
  padding: 0;
  font-size: 8px;
  line-height: 2.2;
}
.breadcrumb{
  padding-left: 0;
  
}
.breadcrumb li{
  padding: 0 8px;
}
.breadcrumb li + li::before{
  margin-right: 8px;
}
/* //////////////banner////////////////////////////////// */
.banner{
  height: 250px;
  /* border: 1px solid red; */
}
.banner .border{
  width: auto;
  /* height: 300px; */
  padding-top: 130px;
}
.banner .border h1{
  width: 100px;
  font-size: 1em;
  margin-bottom: 10px;
  padding: 0;
  line-height: 40px;
  border: 5px solid rgba(255, 255, 255, 0.8);
  
}

/* //////////////////footer/////////////////////// */
body  footer{
  height: 150px;
  margin-top: 150px;
}
.wrapper{
  width: auto;
  padding-top: 20px;
}
.ft-nav{
  display: none;
}
.wrapper .media{
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  
}
footer .media{
  margin-left: 0;
}
footer .media img{
 height: 60px;
 padding-bottom: 10px;
 margin: 0;
}
.media-icon .fa-brands{
  font-size: 28px;
  margin-left: 15px;
}
body footer .wrapper h5 {
  
  font-size: 8px;
  line-height: 17px;
  margin-top: 0;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
footer .media-icon{
  padding-right: 10px;
}

}


