@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');



body{
    
    font-family: 'Noto Sans', sans-serif; 
    background-color: #E4DFD9;
    line-height: 33px;

    color: white;
    
    
  
	
   
}
/* /////////////////////////////header///////////////////////////////////////////// */
header{
    background-color: #163145 ;
    height: 110px;
    letter-spacing: 1.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;

    position: sticky;
    width: auto;
    top:0;
    left:0;

    z-index: 101;
    
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top .fa-bars{
  display: none;
}
.logo img{
    width: 135px;
    height: 81px;
    /* margin-left: 83px; */
    padding-top: 20px;
    padding-right: 20px;
  }

 nav{
   
    display: flex;
  }
  nav ul{
    display: flex;
    margin-left: 30px;

  }
  
  .nav-list li{
    margin-right: 20px;
  }

  .nav-list a{
    position: relative;
    z-index: 1;
  }
  
  .nav-list a::before{
    content: "";
    display: block;
  
  
  
    
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 3px;
    background-color:#fff;
    z-index: 0;
    transition: width .3s ease-out;
  
  }
  .nav-list a:hover::before{
    width: 100%;
  }
  
  
  .nav-icon li{
    margin-left: 20px;
    margin-top: 6px;
  }
  
  nav  a{
    text-decoration: none;
    color: white;
    display: block;
    
    font-size: 20px;
  
  }
  
  .fa-solid{
    display: block;
  }
/* //////////////breadcrumb///////////////// */
.wrap{
  width: 100%;
  padding: 3px 0;
  background-color: #ccc;
  font-size: 14px;
  font-weight: 400;

}
.breadcrumb{
 

  display: flex;
  max-width: 1200px;
 
  margin: 0 auto;
  padding-left: 85px;
}
.breadcrumb li{
  padding: 0 20px;
}
.breadcrumb a{
   text-decoration: none;
   color: #333;
}
.breadcrumb li:last-child a{
  border-bottom:1px solid #333;
  font-weight: 500;

}
.breadcrumb a:hover{
  font-weight: 500;
}
.breadcrumb li + li{
  padding-left: 0;
}
.breadcrumb li + li::before{
  content: ">";
  color: #333;
  margin-right: 20px;
}

/* ////////////////////////////////banner///////////////////////////////////////////////// */
.banner{
    background-image: url(../images/mountains.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
    

  
    
  }
  .banner .border{
    display: inline-block;
    margin: 0 auto;
    
    padding-top: 379px;
    
  }
  
  .banner h1{
    font-style: italic;
    font-weight: 600;
    font-size: 50px;
    line-height: 68px;
    /* width: 158px; */
   

    color: rgba(255, 255, 255, 0.8);

    border: 8px solid  rgba(255, 255, 255, 0.8);
    padding: 15px 30px;
  
  }
  
/* //////////////////////////////////choose//////////////////////////////////////////////////////// */
.top-out{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
    /* margin-top: 130px; */
    padding: 125px 0 80px;

  }

  .top-out ul{
    
    display: flex;
    justify-content: space-around;
    
  }
  .top-out li{
    width: 208px;
    height: 70px;
    text-align: center;
    /* border: 1px solid #666666; */
    line-height: 70px;
  }
  .top-out .be_choose{
    border: 1px solid #666666;
    /* background-color: #e5e5e5; */
  }

  .top-out a{
    display: block;
  
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.04em;
    color: #163145;
  }
  .top-out .no_choose a:hover{
    border: 1.5px dashed #666666;
  } 
/* ///////////////////////////////////////////main//////////////////////////////////////////////////////// */
.main{
  /* background-color: #fff; */
    /* width: 62.5%; */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    font-style: italic;
    line-height: 1.6;
    /* border:  1px solid blue; */
}
.mon-wrapper{
  
  margin: 0 auto;

  font-style: italic;
  line-height: 1.6;
    
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    
    
    
    
  
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.card{
  display: block;
   background-color: white;
 
   width: 45%;
   height: auto;
  
   text-decoration: none;

   
   margin-bottom: 100px;

    font-style: italic;
    line-height: 1.6;
}
.card-left{
    /* margin-right: 103px; */
}

.mon{
    display: flex;
    justify-content: space-between;
    padding: 25px;

}

.mon img{
    display: block;
    width: 55%;
    
}

.intro{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}   


.intro h2{
  height: 13%;
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    line-height: 1.6;
    /* or 22px */
    
    letter-spacing: 0.04em;
    color:#163145;
    

   
    margin-bottom: 5px;
  
 
}

.intro h3{
    font-size: 16px;
    line-height: 1.3;
    font-style: italic;
    letter-spacing: 1px;
   
    color: #666;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;


  
}


.card hr{
    border-color: #f6f6f6;
    opacity: 0.5;
}

.bottom{
    /* display: inline-flex; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 15px 12px;
    
}

.bottom i{
    display: block;
    
    color: #666;
    padding-top: 3px;
    
}

.bottom p{
    font-size: 16px; 
    margin-left: 5px;
    /* margin-top: 8px; */
    margin-right: 25px;
    color: #666;

    
}

.bottom .county{
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

}


  
   
   
    

.more{
    width: 135px;
    font-weight: bold;
    margin-left: 5px;
    /* margin-top: 5px; */
    margin-right: 10px;

    position: relative;
    top: 0;
    left: 0;

    text-align: right;
    color: #163145;
    
    
}





.more::before{
    display:block;
    content: "";
    width: 70px;
    height: 2px;
    background-color: #999;
    margin-left: 5px;
    
    position: absolute;
    top: 50%;
    left: 0;

}


.more::after{
    display:block;
    content: "";
    width: 0;
    height: 2px;
    background-color: #FFBA00;
    margin-left: 5px;
    
    position: absolute;
    top: 50%;
    left: 0;
    

    transition-property:width;
	transition-duration: .3s;
    transition-delay: .2s;
	transition-timing-function:linear;

   
}

.plus{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    display: inline-block;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    background-color: #163145;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 30px;
    height: 30px;
    transition: transform .3s ;
    position: relative;
}
.line-row{
    width: 30px;
    height: 4px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.line-column{
    width: 4px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

.second{
  display: none;
}
/* .third{
  display: none;
} */

.last{
  display: none;
}


 /* -----------------hover&show------------------ */

 .card:hover{
    background-color:#163145 ;
    color: white;

 }

  .card:hover h2 {
    color: white;
  }

 .card:hover h3 {
    color: #e5e5e5;
 }

 .card:hover p{
    color: #e5e5e5;
 }

 .card:hover i{
    color: #999;
 }

 .card:hover .more {
    color: white;
 }


/* 滑鼠移到more時after藍色線條出現 */
 .more:hover::after{
    width: 70px;
}

.circle:hover .line{
    transform: rotate(270deg);
}

/* ///////////////////////////////////////////////////// */
@media screen and (max-width: 1400px){
  /* ///////////////banner////////////// */

 .banner{
  height: 450px;
  /* border: 1px solid red; */
  margin-bottom: 0;
}

.banner .border{
  padding-top: 215px;
}
.banner h1{
  font-size: 40px;
  line-height: 1.6;
}
.banner h1 {
  padding: 8px 15px;
}

}
@media screen and (max-width: 1140px){
  
 
  .top .nav-list{
    
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #163145;
    position: absolute;
    right: 0;
    top: 100px;
    width: 50%;
    margin: 0;

    display: none;
  }
  .nav-list li {
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    
  }
  .top li{
    
    text-align: center;
    display: block;
    width: 100%;
    line-height: 3 ;
    
    /* padding-bottom: 20px; */

  }
  .top nav a{
    display: block;
    /* font-size: 14px; */
    
  }
  .top .fa-bars {
    display: flex;
    font-size: 27px;
  }

  .top{
    justify-content: space-between;
    padding: 0 10px;
  }
  .nav-icon li{
    line-height: 24px;
  }
  .fa-solid{
    font-size: 25px;
  }


 
  /* /////////////////breadcrumb////////////////////////////////// */
/* .wrap{
padding: 0;
font-size: 8px;
line-height: 2.2;
} */
.breadcrumb{
padding-left: 0;

}
/* .breadcrumb li{
padding: 0 8px;
}
.breadcrumb li + li::before{
margin-right: 8px;
} */


/* ///////////////////////////////// */
.top-out{
  max-width: 940px;
}
.top-out a{
  font-size: 22px;
}

.main{
  max-width: 940px;
}
.mon{
  padding: 20px;
}

.card{
  width: 47%;

}
.mon img{
  width: 54%;
}
.intro{
  width: 42%;
}
.bottom p{
  margin-right: 11px;
}
.bottom i{
  padding-top: 0;
}
.more::before{
  width: 57px;
}
.more:hover::after{
  width: 57px;
}
.intro h2{
  font-size: 18px;
}
.intro h3{
  font-size: 15px;
}

.bottom i{
  font-size: 16px;
}
.bottom p{
  font-size: 15px;
}
}


@media screen and (max-width: 940px){
  .top-out{
    max-width: 600px;
  }
  .top-out a{
    font-size: 20px;
  }
  .main{
    max-width: 600px  ;
  }
  .mon-wrapper{
    flex-direction: column;
    align-items: center;
  }
  .card{
    width: 100%;
  }

  /* ////////////////////////footer/////////////// */
  body > footer{
    height: 180px;
  }
footer .wrapper{
  padding-top: 30px;
}

  /* .wrapper{
    width: auto;
    padding-top: 20px;
  } */
  .ft-nav{
    display: none;
  }

  .wrapper .media{
    display: flex;
    align-items: center;
    margin-left: 0;
    width: auto;
  }
  footer a{
    margin-left: 20px;
  }

  footer  .wrapper  h5 {
    
   padding: 0 10px;
    margin-top: 0;
    font-size: 8px;
  }

}
@media screen and (max-width: 660px){
  .top-out{
    max-width: 415px;
  }
  .top-out li{
    width: 85px;
    height: 50px;
    line-height: 50px;
  }
  .main{
    max-width: 415px;
  }
  .card{
    width: 100%;
  }
  .intro h2{
    font-size: 16px;
  }
  .intro h3{
    font-size: 14px;
  }
  .bottom p{
    font-size: 13px;
  }
  .bottom i{
    font-size: 13px;
  }
  .more{
    width: 120px;
    font-size: 15px;
  }
}

@media screen and (max-width: 428px) {
 body header{
    width: auto;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
   


  }
  .top{
    width: 100%;
  }
  header .top img{
    height: 50px;
    /* margin-top: 5px; */
    margin-left: 10px;
    width: auto;
  }
  #nav-bar{
    display: block;
    /* float: right; */
    
    margin-right: 15px;
    font-size: 18px;
    line-height: 1.6;
  }

  .top .nav-list{
    /* display: none; */
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #163145;
    position: absolute;
    right: 0;
    top: 70px;
    width: 50%;
    margin: 0;

    display: none;
  }

  .top .nav-icon li {
    /* display: none; */
    display: flex;
    /* justify-content: flex-start; */
    /* text-align: center;
    flex-direction: column;
    align-items: center; */
    
    background-color: #163145;
    /* position: absolute;
    right: 0;
    top: 347px; */
    width: 100%;
    margin-left: 15px;
    

    /* border-bottom: none; */
   

  }
  .nav-icon .fa-solid{
    font-size: 18px;
  }
  .nav-icon a{
    margin-top: 4px;
  }

  .nav-list li {
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    
  }
  
  .top .fa-bars{
    display: block;
  }

  .top .fa:hover ~ .nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top .fa:hover ~ .nav-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .top li{
    
    text-align: center;
    display: block;
    width: 100%;
    line-height: 40px;
    
    /* padding: 0 10px; */

  }
  .top nav a{
    display: block;
    font-size: 14px;
    
  }

  
  /* /////////////////breadcrumb////////////////////////////////// */
.wrap{
  padding: 0;
  font-size: 8px;
  line-height: 2.2;
}
.breadcrumb{
  padding-left: 0;
  
}
.breadcrumb li{
  padding: 0 8px;
}
.breadcrumb li + li::before{
  margin-right: 8px;
}
/* //////////////banner////////////////////////////////// */
.banner{
  height: 300px;
  /* border: 1px solid red; */
}
.banner .border{
  width: auto;
  /* height: 300px; */
  padding-top: 190px;
}
.banner .border h1{

  font-size: 24px;
  margin-bottom: 10px;
  padding:5px 10px;
  line-height: 1.6;
  border: 5px solid rgba(255, 255, 255, 0.8);
  
}
/* .kvMain h2{
  font-size: 1em;
} */
/* ////////////////////////////////////////////////////// */
.top-out{
  max-width: 345px;
  padding: 80px 0 80px;
}
.top-out a{
  font-size: 15px;
}

.top-out li{
  width: 75px;
  height: 40px;
  line-height: 40px;
}
.main{
  max-width: 345px;
}
.intro h2{
  font-size: 14px;
}
.intro h3{
  font-size: 12px;
}
.bottom i{
  font-size: 12px;
}
.bottom p{
  font-size: 12px;
}
.more{
  width: 120px;
  font-size: 13px;
  margin-right: 5px;
}
.more::before{
  height: 2px;
  margin-left: 0;
  width: 35px;
}
.more::after{
  height: 2px;
  margin-left: 0;
  width: 35px;
}
.card hr{
  margin: 0;
}
.circle{
  width: 45px;
  height: 45px;   
}
.line-row{
  width: 25px;
  height: 3px;
}
.line-column{
  width: 3px;
  height: 25px;
}
/* //////////////////footer/////////////////////// */
body footer{
  height: 150px;
  margin-top: 150px;
}
footer .wrapper{
  width: auto;
  padding-top: 20px;
}
.ft-nav{
  display: none;
}
.wrapper .media{
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  
}
.media{
  margin-left: 0;
}
.content .media img{
 height: 60px;
 padding-bottom: 10px;
 margin: 0;
}
.media .media-icon .fa-brands{
  font-size: 28px;
  margin-left: 15px;
}
footer .wrapper h5 {
  
  font-size: 8px;
  line-height: 17px;
  margin-top: 0;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
}




