@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body{
  background-color: white;
}

/* ////////////items///////////////////// */
.main{
  width: 1200px;
  margin: 0 auto;
  
  
}
.main h1{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #163145;
  margin-bottom: 60px;
  margin-left: 567px;
}
.category{
  
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #163145;

  margin-right: 71px;

}
.category a{
  display: block;
  padding: 12px 20px;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  border-top: none;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #163145;

}
.category:first-child {
  border-top: 1px solid black;
}
.content{
  display: flex;
  
  
  /* justify-content:left; */
 
}
.content-product{
  
}
.product{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
/* identical to box height */


  color: #163145;

}

.item{
  margin-right: 54px;
  padding: 5px 20px 40px;
}


.page-container{
  
}
.page-list{
  
  display: inline-block;
  margin-left: 345px;
  
}

.page-list ul{
  display: flex;
}
.page-list li{
  /* display: inline-block; */
}
.page-list a{
  display: block;
  border: 1px solid black;
  padding: 6px 10px;
  text-decoration: none;
  margin-right: 15px;
  
}