/* //////////////breadcrumb///////////////// */
.wrap{
  padding: 3px 0;
  background-color: #ccc;
  font-size: 14px;
  font-weight: 400;

}
.breadcrumb{
  width: 90%;
  margin: auto;
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 85px;
}
.breadcrumb li{
  padding: 0 20px;
}
.breadcrumb a{
   text-decoration: none;
   color: #333;
}
.breadcrumb li:last-child a{
  border-bottom:1px solid #333;
  font-weight: 500;

}
.breadcrumb a:hover{
  font-weight: 500;
}
.breadcrumb li + li{
  padding-left: 0;
}
.breadcrumb li + li::before{
  content: ">";
  color: #333;
  margin-right: 20px;
}


/* /////banner//////////////////////////////// */
.banner{
    background-image: url(..//images/store-banner.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
    

  
    
  }
  .banner .border{
    display: inline-block;
    margin: 0 auto;
    
    padding-top: 379px;
    
  }
  
  .banner h1{
    font-style: italic;
    font-weight: 600;
    font-size: 50px;
    line-height: 68px;
    
   

    color: rgba(255, 255, 255, 0.8);

    border: 8px solid  rgba(255, 255, 255, 0.8);
    padding: 15px 30px;
  
  }

  /* ////////////////////store//////////////////////// */
  .store-wrapper{
    
    width: 1200px;
    margin: 0 auto;
    color: #000000;
    margin-top: 160px;
   
  }
  .store{
    display: flex;
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .store-pic{
    margin-right: 60px;
  }
  .store-pic img{
    display: block;
    box-sizing: border-box;
  }
  .store-text{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }
  .store-text h1{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height:  33px ;
    letter-spacing: 0.02em;

   
    margin-bottom: 75px;
  }
  .detail{
    display: flex;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height:  22px;
    letter-spacing: 0.04em;
  }

  .detail .fa-location-dot{
    font-size: 25px;
    color: #000000;
  
    
  }
  .detail-1,.detail-2 {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  
  .detail-2,.detail-3 {
    padding-top: 5px;
  }
  .detail-1 h2{
    margin-right: 85px;
   
    
  }

  .detail-2 h2{
    margin-right: 123px;
  }
  .detail-3 h2{
    margin-right: 27px;
  }




  .s-2{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000;

  }
  .map-icon{
    margin-top: 15px;
  }

  .map-icon > .fa-location-dot{
   color: #163145;
  }
/* 
  .map-icon > .fa-solid:hover{
    color: #FFBA00;
  } */


