
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


body{
background-color: #E4DFD9;
font-family: 'Noto Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
color: white;



}

header{
  background-image: url(../images/home-top.jpg);
  width: auto;
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 
  letter-spacing: 1.5px;


  

}


.top{

  display: flex;
  height: 110px;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: 135px;
  height: 81px;
  /* margin-left: 83px; */
  padding-top: 20px;
  padding-right: 20px;
}

nav{
  /* width: 1200px; */
  /* text-align: center; */
  display: flex;
  /* align-items: center; */
 
}
nav ul{
  display: flex;
  margin-left: 50px;
  /* width: 932px; */
}

.nav-list li{
  margin-right: 30px;
}

.nav-icon li{
  margin-left: 20px;
}

nav  a{
  text-decoration: none;
  color: white;
  display: block;
  
  font-size: 24px;

}

.fa-solid{
  display: block;
}



.slogan{
  margin: 0 auto;
  padding-top: 314px;
  
  text-align: center;
}

.slogan h1{
  font-style: italic;
  font-weight: 600;
  font-size: 80px;
  line-height: 109px;
}

.slogan h2{
  padding-top: 20px;
  padding-bottom: 30px;
  
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.05em;
  
}

.btn{
  margin: 0 auto;
  width: 195px;
  height: 62px;
  background-color: #FFBA00;
  color: #163145;
  text-align: left;
  padding-top: 12px;
  padding-left: 30px;

  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;

  position: relative;
  top:0;
  right: 0;
  

}
.btn i{
  position: absolute;
  top: 18px;
  right: 30px;
  color: #163145;
 

}

/* ///////////////////////分類//////////////// */

.category{
  width: 1200px;
  height: 546px;
  margin: 0 auto;
  margin-top:  150px;

  /* border: 1px solid red; */

  display:flex;
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;

  position: relative;
  top: 0;
  left: 0;
}

.right-top{
  display: inline-flex;
  margin-left: 20px;
 
  
}

.category img{
  display: block;
  box-sizing: border-box;
}
.clothing{
  position: relative;
  top: 0;
  left: 0;

  
}

.clothing::before{
  content:"Clothing" ;
  position: absolute;
  top: 264px;
  left: 224px;
  color: rgba(246, 246, 246, 0.9);

}

.shoes{
  margin-left: 20px;
  position: relative;
  top: 0;
  left: 0;
}

.shoes::before{
  content:"Shoes" ;
  position: absolute;
  top: 188px;
  left: 83px;
  color: rgba(246, 246, 246, 0.9);

}

.backpacks{
  position: relative;
  top: 0;
  left: 0;

}

.backpacks::before{
  content:"Backpacks";
  position: absolute;
  top: 188px;
  left: 45px;
  color: rgba(246, 246, 246, 0.9);
}

.right-bottom{
  

  position: absolute;
  top: 282px;
  left: 610px;
}

.accessory{
  position: relative;
}

.accessory::before{
  content:"Accessories";
  position: absolute;
  top: 184px;
  left: 174px;
  color: rgba(246, 246, 246, 0.9);
}

.category .clothing:hover, .backpacks:hover,.shoes:hover, .accessory:hover{
  /* filter:  drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.55)); */
  filter: brightness(120%) drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.55));
}


/* ///////SHOP THE LATEST/////// */
.shop{
  /* width: 100VW; */
  display: flex;
  padding-top: 133px;
  width: 1458px;
  
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 200px;
  /* border: 1px solid blue; */
}

.left-arrow{
  width: 45px;
  height: 45px;
  border-top: 8px solid #C6C4C4;
  border-left: 8px solid #C6C4C4;
  box-sizing: border-box;
  rotate: -45deg;
  margin-top: 100px;
}
.middle{
  
  width: 1200px;
  text-align: center;
  margin-left: 82px;
  margin-right: 82px;
}

.middle h1{
  font-style: italic;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  padding-bottom: 37px;

  color: #163145;

}

.product{
  display: flex;
  
}

.product a{
  text-decoration: none;
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  margin-right: 84px;
  
  
}
.product h2{
  color: #163145;
  padding-top: 10px;
}

.product h3{
  color: #666666;
  padding-top: 15px;
}

.right-arrow{
  width: 45px;
  height: 45px;
  border-top: 8px solid #C6C4C4;
  border-right: 8px solid #C6C4C4;
  rotate: 45deg;
  margin-top: 100px;
  box-sizing: border-box;
}

/* ///////////////////////////////////// */
.parallax{
  margin-top: 200px;
  background: url(../images/break3.jpg);
  min-height: 600px;
  /* background-size: cover; */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */

}

.parallax h1{
  font-style: italic;
  font-weight: 500;
  font-size: 70px;
  line-height: 95px;
  text-shadow: 2px 6px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-top: 200px;

}

/* //////////////act/////////////////////// */

.act{
  width: 1200px;
  margin: 0 auto;
  text-align: left;
  padding-top: 200px;
}
.act-top{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.act-top::before{
  content: "";
  width: 400px;
  height: 200px;
  background-color: #FFBA00;
  position: absolute;
  top: -75px;
  left: -105px;
  z-index: -1;
}

.txt-right{
  padding-top: 90px;
}
.txt-right p{
 
  background-color: #fff;
  padding-left: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 30px 0;
}

.act-bottom{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.act-bottom::after{
  content: "";
  width: 200px;
  height: 430px;
  background-color: #FFBA00;
  position: absolute;
  bottom:-63px ;
  right: -68px;
  z-index: -1;
}

.txt-left{
  padding-top: 100px;
}

.txt-left p{
  background-color: #fff;
  padding-left: 80px;
  
  padding-top: 36px;
  padding-bottom: 36px;
  margin: 30px 0;
}
.act h1{
  font-style: italic;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;

  color: #163145;
}

.act p{
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 45px;

letter-spacing: 0.05em;

color: #000000;

}

.btn2{
  display: block;
  text-decoration: none;
  width: 150px;
  height: 48px;
  background-color: #FFBA00;
  color: #163145;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 31px;
  padding-top: 15px;
  margin:0 auto;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* ////////////////about//////////////// */
.about{
  
  width: 1200px;
  margin: 0 auto;
  padding-top: 145px;
  text-align: center;
  /* padding-bottom: 220px; */
}

.about h1{
  font-style: italic;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  color: #163145;

  display: inline-block;
  padding-bottom: 9px;
  border-bottom: 6px solid #163145;
}

.about p{
  margin-top: 49px;
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
  line-height: 62px;
  letter-spacing: 0.16em;
  color: #000000;
  text-align: left;
  padding-bottom: 60px;
}


/* //////footer////////////////////////////////// */

footer{
  margin-top: 220px;
  width: auto;
  height: 265px;
  background-color: #163145;
  color: #fff;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

footer a{
  text-decoration: none;
  color: #fff;
}

.wrapper{
  width: 1200px;
  margin: 0 auto;
  padding-top: 45px;
}

.content{
  display: flex;
}

.ft-nav{
  margin-left: 180px;
  
}
.ft-nav h3{
  display: inline-block;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  margin-bottom: 36px;

}
.ft-nav a{
  display: block;
  padding-bottom: 15px;
}

.media{
  margin-left: 120px;
  width: 200px;
}

.media img{
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

.media-icon{
  display: flex;
  justify-content: space-between;
}

.fa-brands{
  font-size: 35px;
}

.ft-nav:first-child{
  margin-left: 140px;
}

.wrapper h5{
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-top:50px;
}

