
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


body{
background-color: #E4DFD9;
font-family: 'Noto Sans', sans-serif;
}

header{
background-image: url(/images/home-top.jpg);
width: auto;
height: 900px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;

}

.top{
display: flex;
height: 110px;
align-items: center;
}
.logo img{
width: 135px;
height: 81px;
margin-left: 83px;
padding-top: 20px;
}
nav ul{
display: flex;
margin-left: 66px;
width: 932px;
}
nav li{
flex-grow: 1;
}
nav a{
text-decoration: none;
color: white;
display: block;
/* padding-left: 45px; */
font-size: 24px;
}